@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* default css setting*/

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Inter" , sans-serif;
}
